.board-wrapper {
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding: .5em;
}

.position-center {
    justify-content: center;
}

.position-left {
    justify-content: flex-start;
}

.kanban-board-background-width {
    min-width: 120rem;
}