.navigation-item-wrapper {
    padding: 1em;

    span {
        padding: 0 1.5em;
    }

    &:hover {
        background-color: rgba(245, 245, 245, .4);
    }
}

@media (max-width: 600px) {

    .navigation-item-wrapper {
        span {
            padding: 0 .5em;
        }    
    
    }
}
