.image-wrapper {
    background-size: cover;
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;

    .content-wrapper {
        flex-grow: 2;
    }
}