$primary-color: #1A94C2;
@import 'loaders.css/src/animations/ball-scale-multiple.scss';

.image-wrapper {
    background-size: cover;
    background-image: url("../../../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;

    .content-wrapper {
        flex-grow: 2;
        width: 100%;
        .background-board {
            margin: 2em;
            background-color: rgba(245, 245, 245, .8);
            min-height: 80vh;

            .widgets-wrapper {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
            }

            .projects-board-actions {
                display: flex;
                justify-content: flex-end;
                align-self: center;
                padding: 1em;
            }

            .loader-hidden {
                display: none;
            }

            .loader-active {
                display: block;
            }

            .loader-center {
                margin-top: 20em;
            }

            .add-project-icon {
                margin: 1em;
            }
        }
    }
}