$primary-color: #1A94C2;
@import 'loaders.css/src/animations/ball-scale-multiple.scss';

.widgets-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.projects-board-actions {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 1em;
}

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

.loader-center {
    margin-top: 20em;
}

.add-project-icon {
    margin: 1em;
}