.navigation-bar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 6em 0;
    max-width: 16em;
    min-width: 12em;
    flex-grow: 1;
    background-color: rgba(245, 245, 245, .2);
}