.project-details-side-bar {
    min-width: 30em;
    padding: 1em;
    background-color: rgba(245, 245, 245, 0.8);

    .project-details-header {
        padding-top: 2em;
    }

    #description {
        height: 25em;
    }

    .comments-project-wrapper {
        width: 28em;
    }
}